body{
    background: rgb(56, 115, 135);
}

.start-button, 
.rules-box,
.quiz-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-button button{
    font-size: 25px;
    font-weight: 500;
    border: none;
    color:blue;
    padding: 15px 30px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.rules-box{
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
}

.rules-box .rules-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.rules-box .rules-list{
    padding: 15px 35px;
}
.rules-box .rules-list{
    margin: 5px 0;
    font-size: 16px;
}

.rules-box .rules-list .rules span{
    font-weight: 600;
    color: blue;
}

.rules-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.rules-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: white;
    background: rgb(56, 115, 135);
}

.buttons button.restart:hover{
    background: #052446;
}

.buttons button.quit{
    color: rgb(56, 115, 135);
}

.buttons button.quit:hover{
    color: white;
    background: rgb(56, 115, 135);
}

.quiz-box{
    width: 550px;
    background: white;
    border-radius: 5px;
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 2px 3px 1px darkslategray;
}

.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: lightblue;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec{
    font-size: 18px;
    font-weight: 500;
    background: darkslategray;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.quiz-box section{
    padding: 25px 30px 20px 30px;
    background: white;
}

.quiz-box .questions{
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list{
    padding: 20px 0;
    display: block;
}

section .option-list .option{
    background: lightblue;
    border: 1px solid darkslategray;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option-list .option:hover{
    color: #004085;
    background: lightblue;
    border-color: #b8daff;

}

section .option-list .option:last-child{
    margin-bottom: 0px;
}

.option-list .option .icon{
    height: 24px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option-list .option .icon.tick{
    color:green;
    border-color: green;
    background: #d4edda;
}

.option-list .option .icon.cross{
    color:red;
    background: pink;
    border-color: red;
}

.quiz-box footer{
    height: 60px;
    width:100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-questions span{
    display: flex;
    user-select: none;
}

footer .total-questions span span{
    font-weight: bold;
    padding: 0 5px;
}